.df {display: flex;}

.aic {align-items: center;}

.aiflxe {align-items: flex-end;}

.jcsb {justify-content: space-between;}

.jcsa {justify-content: space-around;}

.jcc {justify-content: center;}

.jcflxe {justify-content: flex-end;}

.fdc {flex-direction: column;}

.flxat{flex: auto;}

.flx1{flex: 1;}

.flxn {flex: none;}

.flww {flex-wrap: wrap;}
