<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="liuyang">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,viewport-fit=cover">
  <title>计算器</title>
  <style>
  .table {
    width: 800px;
    margin: auto;
    border-collapse: collapse;
  }

  td {
    border: 1px solid #ccc;
    height: 40px;
    text-align: center;
  }
  </style>
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
</head>
<body>
<div id="app"></div>
<script>
new Vue({
  el: "#app",
  template: `
  <div>
  <div class="view" style="text-align:center;">{{resultList.map(d => d.value).join('')}}</div>
  <table class="table">
  <tr v-for="(items, index) in keyTable" :key="index">
    <td v-for="(item, index) in items" :key="index" :colspan="item.colspan" @click="handleClick(item)">{{item.value}}</td>
  </tr>
</table>
</div>
  `,
  data: {
    resultList: [],
    keyTable: [
      [
        { type: "logic", value: "&&" },
        { type: "logic", value: "||" },
        { type: "", value: "" },
        { type: "", value: "" }
      ],
      [
        { type: "LP", value: "(" },
        { type: "RP", value: ")" },
        { type: "remove", value: "⬅" },
        { type: "operator", value: "÷" }
      ],
      [
        { type: "value", value: "7" },
        { type: "value", value: "8" },
        { type: "value", value: "9" },
        { type: "operator", value: "×" },
      ],
      [
        { type: "value", value: "4" },
        { type: "value", value: "5" },
        { type: "value", value: "6" },
        { type: "operator", value: "-" },
      ],
      [
        { type: "value", value: "1" },
        { type: "value", value: "2" },
        { type: "value", value: "3" },
        { type: "operator", value: "+" },
      ],
      [
        { type: "value", value: "0", colspan: 2 },
        { type: "point", value: "." },
        { type: "equal", value: "=" },
      ]
    ],
    status: "start",
    lpNum: 0,
    rpNum: 0
  },
  methods: {
    handleClick (item) {
      if (item.value === "") return;
      if (item.type === "remove") {
        if (this.resultList.length) {
          let removeItem = this.resultList.splice(this.resultList.length - 1, 1)[0];
          this.status = this.resultList.length ? this.resultList[this.resultList.length - 1].type : "start";
          switch (removeItem.type) {
            case "LP":
              this.lpNum--;
              break;
            case "RP":
              if (this.rpNum === this.lpNum) {
                return;
              }
              this.rpNum--;
              break;
          }
        }
      } else {
        switch (this.status) {
          case "start":
            if ((item.type === "operator" && item.value !== "-") || item.type === "RP") return;
            break;
          case "LP":
            if (item.type === "operator") {
              if (item.value !== "-") {
                return;
              }
            } else if (item.type !== "value") {
              return;
            }
            break;
          case "point":
            if (item.type !== "value") return;
            break;
          case "RP":
            if (item.type !== "operator" && item.type !== "logic") return;
            break;
          case "value":
            if (item.type === "LP") return;
            break;
          case "operator":
            if (item.type === "RP" || item.type === "operator") return;
            break;
          case "logic":
            if (item.type !== "LP") return;
            break;
        }
        switch (item.type) {
          case "LP":
            this.lpNum++;
            break;
          case "RP":
            if (this.rpNum === this.lpNum) {
              return;
            }
            this.rpNum++;
            break;
        }
        this.resultList.push(item);
        this.status = item.type;
      }
    }
  }
});
</script>
<table>
  <tr></tr>
</table>
</body>
</html>
