<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="liuyang">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,viewport-fit=cover">
  <title>计算器</title>
  <style>
  .table {
    width: 800px;
    margin: auto;
    border-collapse: collapse;
  }

  td {
    border: 1px solid #ccc;
    height: 40px;
    text-align: center;
  }
  </style>
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
</head>
<body>
<div id="app"></div>
<script>
let id = 1;
const types = {
  logic: id++,
  LP: id++,
  RP: id++,
  operator: id++,
  value: id++,
  point: id++,
  remove: id++,
  none: id++,
  equal: id++
};
new Vue({
  el: "#app",
  template: `
  <div>
  <div class="view" style="text-align:center;">{{resultList.map(d => d.value).join('')}}</div>
  <table class="table">
  <tr v-for="(items, index) in keyTable" :key="index">
    <td v-for="(item, index) in items" :key="index" :colspan="item.colspan" @click="handleClick(item)">{{item.value}}</td>
  </tr>
</table>
</div>
  `,
  data: {
    resultList: [],
    keyTable: [
      [
        { type: types.logic, value: "&&" },
        { type: types.logic, value: "||" },
        { type: types.none, value: "" },
        { type: types.none, value: "" }
      ],
      [
        { type: types.LP, value: "(" },
        { type: types.RP, value: ")" },
        { type: types.remove, value: "⬅" },
        { type: types.operator, value: "÷" }
      ],
      [
        { type: types.value, value: "7" },
        { type: types.value, value: "8" },
        { type: types.value, value: "9" },
        { type: types.operator, value: "×" },
      ],
      [
        { type: types.value, value: "4" },
        { type: types.value, value: "5" },
        { type: types.value, value: "6" },
        { type: types.operator, value: "-" },
      ],
      [
        { type: types.value, value: "1" },
        { type: types.value, value: "2" },
        { type: types.value, value: "3" },
        { type: types.operator, value: "+" },
      ],
      [
        { type: types.value, value: "0", colspan: 2 },
        { type: types.point, value: "." },
        { type: types.equal, value: "=" },
      ]
    ],
    status: types.none,
    lpNum: 0,
    rpNum: 0
  },
  methods: {
    handleClick (item) {
      if (item.value === "") return;
      if (item.type === types.remove) {
        if (this.resultList.length) {
          let removeItem = this.resultList.splice(this.resultList.length - 1, 1)[0];
          this.status = this.resultList.length ? this.resultList[this.resultList.length - 1].type : "start";
          switch (removeItem.type) {
            case types.LP:
              this.lpNum--;
              break;
            case types.RP:
              if (this.rpNum === this.lpNum) {
                return;
              }
              this.rpNum--;
              break;
          }
        }
      } else {
        switch (this.status) {
          case types.none:
            if ((item.type === types.operator && item.value !== "-") || item.type === types.RP) return;
            break;
          case types.LP:
            if (item.type === types.operator) {
              if (item.value !== "-") {
                return;
              }
            } else if (item.type !== types.value) {
              return;
            }
            break;
          case types.point:
            if (item.type !== types.value) return;
            break;
          case types.RP:
            if (item.type !== types.operator && item.type !== types.logic) return;
            break;
          case types.value:
            if (item.type === types.LP || item.type === types.logic) return;
            break;
          case types.operator:
            if (item.type === types.RP || item.type === types.operator || item.type === types.point) return;
            break;
          case types.logic:
            if (item.type !== types.LP) return;
            break;
        }
        switch (item.type) {
          case types.LP:
            this.lpNum++;
            break;
          case types.RP:
            if (this.rpNum === this.lpNum) {
              return;
            }
            this.rpNum++;
            break;
        }
        this.resultList.push(item);
        this.status = item.type;
      }
    }
  }
});
</script>
<table>
  <tr></tr>
</table>
</body>
</html>
